## Historical Sea Surface Temperature Data

Let's use the [NOAA 1/4Â° Daily Optimum Interpolation Sea Surface Temperature (Daily OISST)](http://data.planetos.com/datasets/noaa_oisst_daily_1_4) dataset to get some historical sea surface temperature data. This dataset provides daily mean sea surface temperature globally since Sep 1981.

In [3]:
%matplotlib inline

import pandas as pd
from shapely.geometry import Point
import simplejson as json
from urllib.parse import urlencode
from urllib.request import urlopen, Request

A Planet OS API key is required to run this notebook. Keys are displayed in the [account settings](http://data.planetos.com/account/settings/) page on the Planet OS Datahub. If you do not have a Planet OS account, you can [sign up for free](http://data.planetos.com/plans).

In [4]:
apikey = '535871ea3d554497843ab250a497e626'

## 2015 Data

We'll use the `start`, `end`, and `count` parameters to request a year of historical data at a specific point.

In [56]:
# Set the Planet OS API query parameters

id = 'noaa_oisst_daily_1_4'

# define the point of interest
lat=57
lon=-145

time_order = 'asc' # sort ascending (e.g. then => now)

start = '2015-01-01T00:00:00' # start on Jan 1, 2015
end = '2016-01-01T00:00:00'  # end on Jan 1, 2016
count = 365 # daily data, so let's get every day of the year

var = 'sst' # we'll request just sea surface temperature

query_dict = {'apikey': apikey,
              'count': count,
              'end': end,
              'lon': lon,
              'lat': lat,
              'start': start,
              'time_order': time_order,
              'var': var,
              }
query = urlencode(query_dict)

api_url = "http://api.planetos.com/v1/datasets/%s/point?%s" % (id, query)
print(api_url)

request = Request(api_url)
response = urlopen(request)
response_json = json.loads(response.read())

data = response_json['entries']

# let's flatten the response and create a Pandas dataframe
df = pd.io.json.json_normalize(data)

# then index by time using the axes.time column
pd.to_datetime(df["axes.time"])
df.set_index('axes.time', inplace=True)

print(df.count())
df

http://api.planetos.com/v1/datasets/noaa_oisst_daily_1_4/point?apikey=535871ea3d554497843ab250a497e626&count=365&lat=57&end=2016-11-12T00%3A00%3A00&time_order=asc&start=2016-01-01T00%3A00%3A00&var=sst&lon=-145
axes.latitude     317
axes.longitude    317
axes.z            317
context           317
data.sst          317
dtype: int64

,axes.latitude,axes.longitude,axes.z,context,data.sst
axes.time,,,,,
2016-01-01T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.080000
2016-01-02T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.150000
2016-01-03T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.190000
2016-01-04T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.200000
2016-01-05T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.290000
2016-01-06T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.360000
2016-01-07T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.390000
2016-01-08T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.290000
2016-01-09T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.060000
2016-01-10T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.050000
2016-01-11T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,5.990000
2016-01-12T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.080000
2016-01-13T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.010000
2016-01-14T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.000000
2016-01-15T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.200000
2016-01-16T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.300000
2016-01-17T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.250000
2016-01-18T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.400000
2016-01-19T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.270000
2016-01-20T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.220000
2016-01-21T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.240000
2016-01-22T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.050000
2016-01-23T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,5.990000
2016-01-24T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.420000
2016-01-25T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.540000
2016-01-26T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.330000
2016-01-27T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.170000
2016-01-28T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,6.130000
2016-01-29T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,5.910000
2016-01-30T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,5.900000
...,...,...,...,...,...
2016-10-14T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,11.150000
2016-10-15T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,11.070000
2016-10-16T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,11.030000
2016-10-17T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.920000
2016-10-18T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.910000
2016-10-19T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.940000
2016-10-20T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.650000
2016-10-21T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.740000
2016-10-22T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.730000
2016-10-23T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.980000
2016-10-24T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.849999
2016-10-25T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.440000
2016-10-26T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.580000
2016-10-27T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.990000
2016-10-28T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.260000
2016-10-29T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.679999
2016-10-30T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.020000
2016-10-31T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.380000
2016-11-01T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.349999
2016-11-02T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.230000
2016-11-03T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.139999
2016-11-04T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.889999
2016-11-05T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,10.010000
2016-11-06T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.780000
2016-11-07T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.530000
2016-11-08T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,8.970000
2016-11-09T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.260000
2016-11-10T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.250000
2016-11-11T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.070000
2016-11-12T00:00:00,56.875,-144.875,0.0,time_zlev_lat_lon,9.280000

In [6]:
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

In [57]:
mean(df['data.sst'])

9.491797893957385